# Byte-compiled / cache
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
sih/
myenv/
env/
venv/

# VS Code settings
.vscode/

# Environment variables
*.env

# OS-specific files
.DS_Store
Thumbs.db

# Python packaging
*.egg-info/
*.egg
dist/
build/

# Logs
*.log

# Coverage / testing
.coverage
.pytest_cache/
htmlcov/

# Mypy / Pyright / Pylint
.mypy_cache/
.pyright/
pylint-report.txt